html  {
    height: 100%;
}

body{
    height:100%;
    font-family: "Lato", sans-serif;
    background: rgb(250,250,250); /* fallback for old browsers */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}

.align-left{
    text-align: left;
}
.container{
    text-align:center;
    margin:auto;
    width:360px;
    margin-top:7%;
    padding:10px 40px 20px 40px;

}

.big{
    width:90%;
    min-height:400px;
    text-align: left;
}

.big form{
    text-align: left;
}

table form{
    max-width: 360px;
    margin:auto;
    font-size:1.2em;

}

.connect input{
    height:40px;
    background: #e4e4e4;
    margin-top:15px;
    box-shadow: none;
    text-shadow: none;
    padding-left:10px;
    width:96%;

}

.connect-submit input{
    height:40px;
    background: #0aa22e;
    padding-left:10px;
    text-transform: uppercase;
    width:100%;
    color:white;
    margin-bottom:0 !important;


}
table input, .connection input{
    font-size:0.8em;

    /*color:transparent !important;*/
    text-shadow:none !important;
    border:none !important;
    box-shadow:none !important;
}

input:focus,
 select:focus,
 textarea:focus,
 button:focus {
     outline: none;
 }



 li{
     display:inline;
 }
 .entrees label{
     font-weight: bold;
 }


 /*TABLE*/

table {
    border-collapse: collapse;
    width: 100%;

}

th{
    text-align: left;
    padding: 8px 0 8px 0;
}
td{
    border-bottom: 1px solid black;
    background: rgba(255, 255, 255, 0.73);

}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.input-table{
    width:100%;
    cursor: pointer;

    padding:5px 5px 5px 0;

}

            /*  Home */


.home {
    width: 100%;
    height: 100%;

    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: white;
}
.home h1 {
    padding-top: 20%;
    margin: 0;
}
.home h2 {
    margin: 1% 0 0 0;
}
.center {
    width: 100%;
    position: absolute;bottom: 10%;
}
.home a {
    color: rgba(255,255,255,0.9);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 50px;
    padding: 1%;
    margin: auto;
    transition-duration: 1s;
}
.home a:hover {
    background-color: rgba(255,255,255,0.1);
}

            /* listing projets */

.listing_projet {

    padding-top: 7%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.bandeau_projet {
    transform:scale(1.2,1);
    margin-top: 1px;


}
.bandeau_projet:hover {
    cursor: pointer;
}
.bandeau_projet:hover .projet {
    background-color: rgb(250,250,250);
}
.bandeau_projet:hover .background_projet_mini {
    -webkit-box-shadow: inset 0px 0px 200px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 200px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 200px 0px rgba(0,0,0,0.75);
}
.projet {

    height:300px;
    float:left;
    width:70%;
    transform:skew(-25deg);
    overflow:hidden;
    margin-top: 5px;
    background-color: rgb(240,240,240);
    transition-duration: 0.5s;
}
.projet_mini {

    margin-top: 5px;
    height:300px;
    float:left;
    width:30%;
    transform:skew(-25deg);
    overflow:hidden;



}
.background_projet_mini {
    height: 100%;
    width: 100%;
    background:url('../img/background2.jpg');
    background-position: center center;
    background-size: cover;
    transform:skew(25deg) scale(0.8,1);
    transform-origin: top left;
    padding:0 20% 0 5%;
    transition-duration: 1s;
}

.contenu_projet_mini {
    text-align: left;
    height: 100%;
    width: 100%;
    transform:skew(25deg) scale(0.8,1);
    transform-origin: top left;
    padding:0 20% 0 5%;

}
                /* liste des cycles */
.cycle {
    cursor: pointer;
    border: 1px solid #398b6f;
    padding: 2%;
    width:60%;
    margin: 2% auto 0 auto;
    text-align: left;
    overflow: hidden;
}

.statut {
    border-left: 1px solid #398b6f;
    width:64%;
    margin: auto;
    text-align: left;
}
.statut_en_cours {
    border-left: 2px solid #31758b;
}
.statut_important {
    border-left: 2px solid #993b3b;

}
.statut h4 {
    margin: 0;
    padding:2%;
    color: rgb(245,245,245);
    background-color: #398b6f;
    width: 40%;
}
.statut p {
    padding-left: 2%;
}
.statut_en_cours h4 {
    background-color: #31758b;
}
.statut_important h4 {
    background-color: #993b3b;
}
.cycle img {
    height: 2em;
    display: inline-block;
    vertical-align: middle;

}
.cycle .pad {
    padding-left: 5%;
}
.competence {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}
.cycle_fini {

}
.cycle_fini:hover {
}
.cycle_en_cours {
    border: 2px solid #31758b;
}
.important {
    border: 2px solid #993b3b;
}
.bandeau_cycle {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.bandeau_cycle h1 {
    margin: 0 2% 0 2%;
}
.rotate {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.bandeau_cycle img {
    height: 1.8em;

}

@keyframes spin { 100% { transform:rotate(360deg); transform-origin: 50% 50%; } }

.tourne {
    padding-left: 0;
    animation:spin 6s linear infinite;

}
.listing_projet textarea {
    font-size:1em;
    padding: 1%;
    margin: 5px 0 2px 0;
    width: 90%;
    text-rendering: auto;
    color: gray;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
.date {
    margin: 2% 0 2% 0;
}
.datee{
    width: 20%;
    display: inline-block;
}
.date input{
    width: 30%;

}

.cycle h2 {
    text-align: center;
}

.input_cycle{
    font-size:1em;
    width: 90%;
}

.tache {
    margin-bottom: 2px;
}

.submit_cycle {
    cursor: pointer;
    width: 80%;
    margin-left: 7%;
    height: 30px;
}


                /* Home Poste */

.home_poste {
    width: 100%;
    height: 100%;

    background-image: url('../img/background2.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: white;
}
.home_poste h1 {
    padding-top: 20%;


}

/* equipe */

.equipe {
    text-align: center;
    padding: 2% 0 2% 0;
}
.ligne_worker {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.equipier {
    width:20%;
}
.equipier img {
    width: 60%;
}

            /*  nav  */

.menu {
    display: flex;
    position: fixed;
    background-color: rgb(250,250,250);
    width: 100%;
    top:0;
    z-index: 50;

}
.menu a {
    color: black;
    padding: 2%;
}

.menu ul {
    width: 100%;
}
.menu2 {
    display: flex;
    position: fixed;
    background-color: rgb(245,245,245);
    width: 100%;
    top:6%;
    z-index: 20;

}
.menu2 a {
    color: black;
    padding: 2% 5% 2% 5%;
}

.menu2 ul {
    width: 100%;
}

            /* CONNECTION */

.connection {
    width: 40%;
    height: 80%;
    min-width:400px;
    margin: auto;
    margin-top: 10%;
    text-align: right;
}
.connection h1 {
    text-align: center;
    font-size: 1.4em;
}
.connection a{
    width: 100%;
    text-align: right;
}

            /* ERREUR */

.erreur {
    padding-top: 10%;
    height: 90%;
    text-align: center;
}

            /* COMPTE RENDU */
.titre {
    padding-top: 5%;
    text-align: center;
}
.single_compte_rendu {
    width: 60%;
    min-width: 500px;
    margin: auto;
    padding: 2% 5% 2% 5%;
    border-bottom: 1px solid black ;
}

            /* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid 1px rgb(100,100,100);
    background-color: rgb(245,245,245);
    margin-top: 2%;
    padding: 2%;
}
.footer {
    width: 10%;
    text-align: center;
}
.footer img {
    width: 50%;
}

.start-projet {
    width: 45%;
    margin: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.start-projet > h2 {
    text-align: center;
}

.start-projet .input-group {
    padding: 10px 0;
    width: 100%;
    margin: auto;
}

.input-group > label {
    margin-bottom: 10px;
    font-weight: 900;
}

.fileUpload {
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: #398b6f;
    color: white;
    padding: 3px 0 5px 0;
    text-align: center;
}

#uploadFile, #uploadFile2 {
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin-bottom: 30px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}



.start-projet input, textarea {
    border: 2px solid #0aa22e;
    margin-top: 3px;
    width: 100%;
}
.start form {
    width: 60%;
    margin: auto;
}




.start-projet input[type='date'] {
    text-align: center;
}

.start-projet button[type='submit'] {
    font-weight: 800;
    background-color: chartreuse;
    padding: 6px 19px;
    border: 2px solid #0aa22e;
}

.start-projet button[type='submit']:hover {
    cursor: pointer;
    background-color: #4CAF50;
}
.recettage {
    width: 75%;
    margin: auto;
    margin-top: 150px;
}
.export-icon {
    background-image: url("../img/storage-drive.png");
}

.export {
    display: flex;
}
.button-recettage {
    text-align: center;
    color: black;
    border-radius: 20px;
    border: 2px solid #000000;
    background-color: white ;
    padding: 5px 20px 7px 20px;
    margin: 5px;
}

.button-recettage:hover {
    color: white;
    background-color: #211f1f;
}
.statistique{
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
}




